@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf")
            format("truetype supports variations"),
        url("../fonts/Raleway-VariableFont_wght.ttf")
            format("truetype-variations");
}

@font-face {
    font-family: "Montserrat bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
