*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: "Raleway";
    font-variation-settings: "wght" 500;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
